In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Statelatlong.csv',header = None, names =['node', 'latitude', 'longitude'])
df.head()

             node  latitude  longitude
0  Andhra Pradesh   17.6868    83.2185
1           Assam   26.1433    91.7898
2           Bihar   25.5941    85.1376
3    Chhattisgarh   21.2514    81.6296
4    NCT OF DELHI   28.7041    77.1025

In [9]:
BBox = ((df.longitude.min(),   df.longitude.max(),      
         df.latitude.min(), df.latitude.max()))
BBox

(72.6369, 94.1086, 8.5241, 34.0837)