In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Statelatlong.csv')
df.head()

  Andhra Pradesh  17.6868  83.2185
0          Assam  26.1433  91.7898
1          Bihar  25.5941  85.1376
2   Chhattisgarh  21.2514  81.6296
3   NCT OF DELHI  28.7041  77.1025
4        Gujarat  23.2156  72.6369